th{
 color:darkviolet;
    font-family: sans-serif;
    background-color: blue;
    text-decoration: none;
}
td{
    color:black;
    font-family:serif;
    background-color: darkcyan;
    text-decoration: none;
}
